body
{
margin:0px;
color:#C0C0C0;
overflow:hidden;
overflow-x:scroll;
font-family:Calibri;
background-color:#2F2F2F;
background-image:URL("black.png");
}

controlpane
{
top:0px;
width:100%;
height:100px;
position:fixed;

background-color:#777;

border-color:#C0C0C0;
border-style:solid;
border-width:2px;
border-right:none;
border-left:none;
}

controlpane > h1
{
margin:0px;
margin-left:25px;
margin-right:25px;
display:inline-block;

line-height:100px;
font-size:72px;
}

controlpane > button
{
height:50px;

padding:10px;
margin-left:5px;

font-size:21px;
font-weight:bold;

vertical-align:text-bottom;
}

controlpane > form
{
top:0px;
right:0px;
position:absolute;

background-color:#AAA;

border-left-width:2px;
border-left-style:solid;
border-left-color:#C0C0C0;
}

controlpane > form > input
{
margin:6px;
padding:5px;
display:block;

width:200px;
height:27px;

font-size:21px;
border-width:2px;
}

viewscreen
{
left:50px;
top:150px;
bottom:150px;
width:320px;
display:block;
position:fixed;

border-width:2px;
border-style:solid;
border-color:#C0C0C0;

background-color:#777;
background-color:RGBA(119,119,119,0.36);
}

viewscreen > video
{
width:100%;
bottom:25px;
display:block;
position:absolute;
border-bottom-width:2px;
border-bottom-style:solid;
border-bottom-color:#C0C0C0;
}

viewscreen > statusbar
{
width:320px;
height:25px;
bottom:152px;
display:block;
position:fixed;
line-height:25px;
font-weight:bold;
background-color:#777;
}

viewscreen > statusbar > #cursor
{
color:#777;
height:100%;
font-weight:bold;
margin-right:5px;
padding-left:7px;
padding-right:9px;
display:inline-block;
background-color:#C0C0C0;
}

viewscreen > statusbar > #mode > a
{
color:inherit;
}

blurbframe
{
left:424px;
right:50px;
top:150px;
bottom:150px;
position:fixed;

overflow-y:scroll;

border-width:2px;
border-style:solid;
border-color:#C0C0C0;

background-color:RGBA(119,119,119,0.36);
}

blurbframe > p
{
margin:25px;

font-size:18px;
text-indent:50px;
text-align:justify;
}

blurbframe > p > a
{
color:inherit;
}

blurbframe > iframe
{
display:block;
margin:25px auto;
}

timeline
{
bottom:0px;
height:92px;
width:1640px;
min-width:100%;
position:absolute;

padding-top:2px;
padding-bottom:2px;

background-color:#777;

border-color:#C0C0C0;
border-style:solid;
border-width:2px;
border-right:none;
border-left:none;
}

timeline > asset
{
border-width:2px;
border-radius:2px;
border-style:solid;
border-color:#C0C0C0;

position:absolute;

width:88px; height:88px;
background-size:auto 100%;
background-repeat:repeat-x;
}