body
{
margin:0px;
color:#C0C0C0;
font-family:Calibri;
/*overflow-x:scroll;*/
background-color:#2F2F2F;
}

fileframe
{
top:25px;
right:25px;
left:12.5px;
bottom:189px;
position:fixed;
margin-left:50%;

border-width:2px;
border-style:solid;
border-color:#C0C0C0;

background-color:#777;
overflow-y:scroll;
}

videoscreen
{
top:25px;
left:25px;
right:12.5px;
bottom:189px;
position:fixed;
margin-right:50%;

border-width:2px;
border-style:solid;
border-color:#C0C0C0;

background-color:#777;
overflow:hidden;
}

timeline
{
width:100%;

bottom:0px;
display:block;
position:absolute;

border-top-width:2px;
border-top-style:solid;
border-top-color:#C0C0C0;
}

timetrack
{
height:52px;
display:block;

background-color:#777;

border-bottom-width:2px;
border-bottom-style:solid;
border-bottom-color:#C0C0C0;
}