body
{
margin:0px;
color:#C0C0C0;
font-family:Calibri;
/*overflow-x:scroll;*/
background-color:#2F2F2F;
}

controlpane
{
top:0px;
left:0px;
right:0px;
height:25px;
position:fixed;

background-color:#777;

border-bottom-width:2px;
border-bottom-style:solid;
border-bottom-color:#C0C0C0;
}

controlpane > input
{
padding:2px;
height:14px;
margin-top:2px;
vertical-align:bottom;
}

fileframe
{
top:52px;
right:25px;
left:12.5px;
bottom:125px;
position:fixed;
margin-left:50%;

border-width:2px;
border-style:solid;
border-color:#C0C0C0;

background-color:#777;
overflow-y:scroll;
}

videoscreen
{
top:52px;
left:25px;
right:12.5px;
bottom:125px;
position:fixed;
margin-right:50%;

border-width:2px;
border-style:solid;
border-color:#C0C0C0;

background-color:#777;
overflow:hidden;
}

statusbar
{
left:25px;
right:25px;
height:25px;
bottom:215px;
position:fixed;

font-weight:bold;

border-width:2px;
border-style:solid;
border-color:#C0C0C0;

background-color:#777;
}

statusbar > #cursor
{
color:#777;
height:100%;
margin-right:7px;
padding-left:7px;
padding-right:9px;
display:inline-block;
background-color:#C0C0C0;
}

statusbar > #debug > a
{
color:inherit;
}

button
{
right:0px;
height:100%;
font-weight:bold;
position:absolute;
}

timeline
{
bottom:0px;
height:92px;
width:1640px;
min-width:100%;
position:absolute;

padding-top:2px;
padding-bottom:2px;

background-color:#777;

border-color:#C0C0C0;
border-style:solid;
border-width:2px;
border-right:none;
border-left:none;
}

timeline > asset
{
border-width:2px;
border-radius:2px;
border-style:solid;
border-color:#C0C0C0;

position:absolute;

width:88px; height:88px;
background-size:auto 100%;
background-repeat:repeat-x;
}