*
{
	margin: 0px;
}

#dashboard
{
	padding: 2rem;
	
	background-color: #0A9BDE;
	background-image: url("/images/linedpaper.png");
}

#dashboard   ul
{
	padding: 0px;
	list-style-type: none;
}

#dashboard   li:not(:last-child)
{
	margin: 0.5rem 0rem;
	
	cursor: pointer;
}

#dashboard > #previewer
{
	width: 100%;
	position: relative;
	
	border-radius: 4px;
	
	color: #FFF;
	background-color: #000;
}

#dashboard > #previewer > b
{
	top: 0px;
	left: 0px;
	z-index: 1;
	padding: 0.5rem;
	position: absolute;
}

#dashboard > #previewer > video
{
	width: 100%;
	display: block;
}

#dashboard > #previewer > #abort-preview
{
	top: 0px;
	right: 0px;
	width: 2rem;
	padding: 0.5rem;
	position: absolute;
	
	cursor: pointer;
}

#dashboard > #previewer > #prompt-message
{
	line-height: 240px;
	text-align: center;
}

/*#dashboard   h1 > img
{
	width: 100%;
	height: auto;
}

#dashboard   hr
{
	width: 50%;
	margin: 2rem auto;
	
	border: none;
	border-top-width: 2px;
	border-top-color: #111;
	border-top-style: dashed;
}

#dashboard   b
{
	display: block;
	margin: 1rem 0px;
	
	font-size: 38px;
	font-weight: bold;
	font-family: abel;
	text-align: center;
}

#dashboard   span
{
	white-space: nowrap;
}

#dashboard   p
{
	margin: 1rem 0px;
	
	text-align: justify;
}

#dashboard   a.link
{
	color: #0A9BDE;
}

#dashboard   a.button
{
	display: block;
	max-width: 32rem;
	line-height: 1em;
	padding: 1rem 0em;
	margin: 1rem auto;
	
	color: #FFF;
	text-align: center;
	text-decoration: none;
	
	cursor: pointer;
	border-radius: 4px;
	background-color: #0A9BDE;
}

#dashboard   a.button:active
{
	background-color: #FF3500;
}

#dashboard   small
{
	width: 12rem;
	display: block;
	margin: 2rem auto;
	
	font-size: 14px;
	text-align: center;
}*/