#menubar
{
	left: 0rem;
	right: 0rem;
	height: 2rem;
	padding: 0.5rem;
	position: fixed;
	
	background-color: lightblue;
	background-color: rgba(10, 155, 222, 0.25);
}

#menubar > img
{
	height: 2rem;
	vertical-align: bottom;
}