@import URL("fonts/ubuntu-light.css");
@import URL("fonts/font-awesome.css");
@import URL("fonts/open-sans.css");

*
{
	margin: 0px;
}

html
{
	color: #111;
	font-size: 18px;
	font-family: open-sans, sans-serif;
}

html, body, .view
{
	height: 100%;
}