#dashboard
{
	background-color: #0A9BDE;
}

#dashboard   #outerframe
{
	margin: auto;
	min-width: 360px;
	max-width: 908px;
	padding-left: 4px;
	padding-right: 4px;
	
	background-image: url("/images/linedpaper.png");
}

#dashboard   #innerframe
{
	padding: 0rem 2rem;
	
	border-width: 2px;
	border-color: #111;
	border-style: dashed;
	border-bottom: none;
	border-top: none;

	overflow: auto;
}

#dashboard   h1 > img
{
	width: 100%;
	height: auto;
	
	font-size: 202px;
	font-family: abel;
}

#dashboard   hr
{
	width: 50%;
	margin: 2rem auto;
	
	border: none;
	border-top-width: 2px;
	border-top-color: #111;
	border-top-style: dashed;
}

#dashboard   b
{
	display: block;
	margin: 1rem 0px;
	
	font-size: 38px;
	font-weight: bold;
	font-family: abel;
	text-align: center;
}

#dashboard   span
{
	white-space: nowrap;
}

#dashboard   p
{
	margin: 1rem 0px;
	
	text-align: justify;
}

#dashboard   a.link
{
	color: #0A9BDE;
}

#dashboard   a.button
{
	display: block;
	max-width: 32rem;
	line-height: 1em;
	padding: 1rem 0em;
	margin: 1rem auto;
	
	color: #FFF;
	text-align: center;
	text-decoration: none;
	
	cursor: pointer;
	border-radius: 4px;
	background-color: #0A9BDE;
}

#dashboard   a.button:active
{
	background-color: #FF3500;
}

#dashboard   small
{
	width: 12rem;
	display: block;
	margin: 2rem auto;
	
	font-size: 14px;
	text-align: center;
}