#dashboard
{
	top: 3rem;
	left: 0rem;
	bottom: 192px;
	position: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #0A9BDE;
}

#assetlist
{
	width: 11rem;
	padding-top: 1rem;
}

#assetlist > .asset
{
	float: left;
	width: 4rem;
	height: 4rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	position: relative;
	
	overflow: hidden;
	
	background-color: #EEE;
}

#assetlist > .asset:hover
{
	cursor: pointer;
}

#assetlist > .asset > .title
{
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
	height: 1rem;
	padding: 0.5rem;
	line-height: 1em;
	position: absolute;
	white-space: nowrap;
	
	background-color: rgba(255, 255, 255, 0.5);
}

#assetlist > #add.asset
{
	line-height: 4rem;
	text-align: center;
}