#assetlist
  top: 40px
  left: -308px
  width: 356px
  bottom: 197px
  position: fixed
  box-sizing: border-box
  padding-right: 48px
  -webkit-transition: left 0.2s ease
  background-image: -o-linear-gradient(-89deg, #FFFFFF 0%, #E3E3E3 36%)
  background-image: -moz-linear-gradient(-89deg, #FFFFFF 0%, #E3E3E3 36%)
  background-image: -ms-linear-gradient(-89deg, #FFFFFF 0%, #E3E3E3 36%)
  background-image: linear-gradient(-179deg, #FFFFFF 0%, #E3E3E3 36%)
  &.expanded
    left: 0px
  .assetlist-expand, .assetlist-collapse
    content: " "
    text-indent: -100000px
    border: none
    width: 48px
    position: absolute
    top: 0
    right: 0
    bottom: 0
    background-color: $dark_gray
    background-image: url("/images/filmstrip_closed.png")
    background-size: 30px 34px
    background-position: center 96%
    background-repeat: no-repeat
    cursor: pointer
    outline: none
    box-sizing: border-box
  .assetlist-collapse
    border: 2px solid $dark_gray
    background-color: $light_gray
    background-image: url("/images/filmstrip_opened.png")
  .asset
    height: 2.5em
    margin: 0.5em
    cursor: pointer
    overflow: hidden
    border-radius: 2px
    position: relative
    background-color: #0A9BDE
    .type
      top: 0em
      left: 0em
      width: 2.5em
      height: 2.5em
      position: absolute
      background-size: 1.5em
      background-repeat: no-repeat
      background-position: center center
    .video.type
      background-image: url("../images/icons/videofile.png")
    .audio.type
      background-image: url("../images/icons/audiofile.png")
    .thumbnail
      top: 0em
      left: 2.5em
      width: 2.5em
      height: 2.5em
      position: absolute
      background-size: cover
      background-repeat: no-repeat
    .name
      top: 0em
      left: 5em
      right: 0em
      padding: 0.5em
      line-height: 1.5em
      position: absolute
      color: #FFF
