.ui-draggable
  /* Makes shadows snap back to default after being dragged: */
  transition: box-shadow 0.05 ease-in-out

.ui-draggable-dragging
  box-shadow: -5px 5px 20px rgba(0,0,0,.5) !important
  transition: box-shadow $anim-fast ease-in-out
