// @import url("../fonts/ubuntu-light.css")
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700)
@import url("../fonts/fontawesome.css")
@import url("../fonts/abel.css")

*
  margin: 0px

body
  color: #111
  font-size: 18px
  font-family: "Open Sans", sans-serif
  /*overflow: hidden;*/
