.ui-draggable
  /* Makes shadows snap back to default after being dragged: */
  transition: box-shadow 0.05 ease-in-out

.ui-draggable-dragging
  box-shadow: -5px 5px 20px rgba(0,0,0,.5) !important
  transition: box-shadow $anim-fast ease-in-out

.tooltip
  padding: 0.6em 0.8em
  background-color: #333
  position: absolute
  z-index: 100000
  border-radius: $radius
  border: 4px solid #fff
  box-shadow: 0 0 0 2px #000, 0 5px 25px #000
  background-image: -o-radial-gradient(100% 124% at center -10%, #2e2e2e 2%, #000 100%)
  background-image: -moz-radial-gradient(100% 124% at center -10%, #2e2e2e 2%, #000 100%)
  background-image: -ms-radial-gradient(100% 124% at center -10%, #2e2e2e 2%, #000 100%)
  background-image: radial-gradient(100% 124% at center -10%, #2e2e2e 2%, #000 100%)
  color: #fff
  font-size: 0.8em
  line-height: 1.2em
  bottom: 100%
  left: 50%
  display: none
  opacity: 0
  transition: opacity $anim-fast ease
  // The following property needs to be set dynamically,
  // depending on the width of the tooltip being displayed.
  // Best to set this on the actual element upon creation.
  margin-left: -65px // Negative half of the tooltip’s expected width
  &::after
    content: ""
    position: absolute
    bottom: -22px
    left: 50%
    margin-left: -15px
    height: 22px
    width: 30px
    background-image: url("/images/tooltip-point.png")
  &.visible
    display: block
    opacity: 0.9

.drop-down
  @extend .tooltip
  background-image: none
  background-color: #777
  box-shadow: 0 0 0 2px #777, 0 5px 25px #000
  top: 100%
  left: initial
  right: 0
  bottom: initial
  margin-left: 0
  list-style: none
  padding: 0
  min-width: 150px
  &::after
    bottom: initial
    top: -22px
    left: initial
    right: 3px
    margin-left: 0
    background-image: url("/images/drop-down-point.png")
  li
    padding: 0.6em 0.8em
    margin: 0
    border-bottom: 1px solid #999
    &:last-child
      border-bottom: none
    &:hover
      background-color: #fff
      color: #777

.drop-down-container
  background-image: url("/images/drop-down-container-dark.png")
  background-repeat: no-repeat
  background-position: center right
  padding-right: 12px !important
