@mixin font-face($font, $font-weight: normal, $font-style: normal, $font-stretch: normal)
{
    @font-face
    {
        font-style: $font-style;
        font-weight: $font-weight;
        font-stretch: $font-stretch;
        font-family: "#{$font}";
        src: url("assets/fonts/#{$font}.eot"),
             url("assets/fonts/#{$font}.woff") format("woff"),
             url("assets/fonts/#{$font}.ttf") format("truetype"),
             url("assets/fonts/#{$font}.svg##{$font}") format("svg");
        src: url("assets/fonts/#{$font}.ttf") format("truetype");
    }
}

@include font-face(open-sans);
@include font-face(ubuntu-light);
