template name="ctrlpane"
  #ctrlpane
    a#logo
    #outerpane
      #innerpane
        #title
          h1
            | {{title}}

        #menulist
          span#file.menu Project
          span#edit.menu Insert
          span#edit.menu Edit
          span#view.menu View
          span#share.menu Share
          span#help.menu Help

        #userlist
          #new.user
          .user style="background-image: URL(images/chattanooga.jpg); border-color: orange;"
