#timeline
{
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: fixed;
}

#timeline > #ruler
{
	height: 24px;
	padding: 0.125em 0em;
	
	background-color: #0A9BDE;
	background-repeat: repeat-x;
	background-image: URL(images/ruler.png);
}

#timeline > #cursor
{
	border-width: 1px;
	border-color: #111;
	border-style: dashed;
	border-top: none;
	border-bottom: none;
	
	top: 0px;
	bottom: 0px;
	z-index: 1;
	position: absolute;
}

#timeline > .track
{
	height: 2.5em;
	padding: 0.25em 0em;
	
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #0A9BDE;
	
	background-color: #0A9BDE;
	background-image: URL(images/linedpaper.png);
}

#timeline > .track > .instance
{
	height: inherit;
	position: absolute;
	
	border-radius: 2px;
	
	overflow: hidden;
	line-height: 2.5em;
	background-color: pink;
	background-size: auto 64px;
}

#timeline > .track > .instance > span
{
	color: #FFF;
	font-weight: bold;
	background-color: grey;
}