@import URL("fonts/ubuntu-light.css");
@import URL("fonts/fontawesome.css");
@import URL("fonts/abel.css");

*
{
	margin: 0px;
}

body
{
	color: #111;
	font-size: 18px;
	font-family: ubuntu-light, calibri, sans-serif;
	
	/*overflow: hidden;*/
	
	background-color: #FFF;
	background-image: URL(images/linedpaper.png);
}