#viewframe
{
	top: 68px;
	left: 0px;
	right: 320px;
	bottom: 193px;
	position: fixed;
	
	overflow: hidden;
}

#viewframe > #ctrlbar
{
	left: 0em;
	right: 0em;
	bottom: 0em;
	width: 17em;
	height: 2em;
	margin: auto;
	padding: 0.5em;
	position: absolute;
}

#viewframe > #ctrlbar > .button
{
	width: 3em;
	height: 2em;
	float: left;
	
	border-radius: 4px;
	
	background-size: 1.5em;
	background-color: #0A9BDE;
	background-repeat: no-repeat;
	background-position: center center;
}

#viewframe > #ctrlbar > .button:not(:last-child)
{
	margin-right: 0.5em;
}

#viewframe > #ctrlbar > .button:hover
{
	cursor: pointer;
	background-color: #FF3500;
}

#viewframe > #ctrlbar > #pauseplay.button
{
	background-image: URL("images/icons/play.png");
}

#viewframe > #ctrlbar > #pauseplay.toggled.button
{
	background-image: URL("images/icons/pause.png");
}

#viewframe > #ctrlbar > #muteunmute.button
{
	background-size: 1.25em;
	background-image: URL("images/icons/unmuted.png");
}

#viewframe > #ctrlbar > #muteunmute.toggled.button
{
	background-image: URL("images/icons/muted.png");
}

#viewframe > #ctrlbar > #stop.button
{
	background-image: URL("images/icons/stop.png");
}

#viewframe > #ctrlbar > #previous.button
{
	background-image: URL("images/icons/previous.png");
}

#viewframe > #ctrlbar > #next.button
{
	background-image: URL("images/icons/next.png");
}

#viewframe > #outerframe
{
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 2.5em;
	padding: 0.5em;
	position: absolute;
}

#viewframe > #outerframe > #innerframe
{
	width: 100%;
	height: 100%;
	position: relative;
}

#viewframe > #outerframe > #innerframe > video
{
	width: 100%;
	height: 100%;
}

#viewframe > #outerframe > #innerframe > #viewer
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
	position: absolute;
	background-color: green;
}