template name="assetlist"
  #assetlist
    | {{#each assets}}
    .asset
      div class="{{type}} type"
      div class="thumbnail" style="background-image: url(videos/{{handle}}.jpg)"
      div class="name" {{name}}
    | {{/each}}
