body
{
	margin: 25px;
}

#mediap
{
	width: 100%;
	height: auto;
	display: block;
}

#media
{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	min-height: 200px;
	color: white;
	position: relative;
	background-color: rgba(200,200,200,0.8);
}

#media:hover #controls { opacity: 1; }

button
{
	border: none;
	cursor: pointer;
}

#controls
{
	color: transparent;
	text-indent: -10000px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 18px;
	right: 18px;
	bottom: 18px;
	opacity: 0;
	transition: opacity 0.3s ease;
}
#controls button {
background-color: rgba(40,40,40,0.8);
margin-right: 18px;
border-radius: 4px;
color: transparent;
text-indent: -10000px;
overflow: hidden;
}
#controls button:hover {
background-color: rgba(250,120,0,0.8);
}

#control-toggle {
float: left;
height: 54px;
width: 90px;
background-image: url("images/pause.png");
background-repeat: no-repeat;
background-position: center center;
background-size: 50%;
outline: none;
}
#control-toggle.pause {
background-image: url("images/play.png");
}

button#control-fullscreen {
float: right;
width: 30px;
height: 30px;
margin-top: 12px;
margin-right: 0;
background-image: url("images/fullscreen.png");
background-repeat: no-repeat;
background-position: center center;
background-size: 54%;
outline: none;
}
button#control-fullscreen.full {
background-image: url("images/close.png");
}

div#control-timeline {
display: block;
height: 36px;
margin-top: 12px;
margin-right: 0;
background-color: transparent;
}

#control-timeline-container {
background-color: rgba(40,40,40,0.8);
height: 18px;
padding: 6px;
margin-left: 108px; /* #control-toggle + margin */
margin-right: 48px;
position: relative;
border-radius: 4px;
}
#control-timeline-container .simple-border {
position: relative;
height: 12px;
cursor: pointer;
}

#control-timeline-loaded {
background-color: rgba(200,200,200,0.8);
margin: 2px;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

#control-timeline-played {
background-color: rgba(250,120,0,0.8);
margin: 2px;
position: absolute;
top: 0;
left: 0;
right: 25%;
bottom: 0;
}

input[type="range"], input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none !important;
-moz-appearance: none !important;
}

#control-timeline-range {
position: absolute;
background-color: transparent;
top: 0;
left: 0;
right: 0;
bottom: 0;
cursor: pointer;
outline: none;
}
#control-timeline-range::-webkit-slider-thumb {
width: 10px;
background-color: white;
display: block;
}

.simple-border {
border: 1px solid rgba(200,200,200,0.8);
padding: 2px;
}