*
{
	margin: 0px;
	padding: 0px;
}

/* The Timeline */

#timeline
{
	left: 0px;
	right: 0px;
	bottom: 0px;
	min-width: 100%;
	position: absolute;
	
	overflow: hidden;
	
	border-top-width: 2px;
	border-top-color: #000;
	border-top-style: solid;
}

#timeline > #ruler
{
	height: 24px;
	
	border-bottom-width: 2px;
	border-bottom-color: #000;
	border-bottom-style: solid;
	
	background-color: #0A9BDE;
	background-image: url("images/ruler.png");
}

#timeline > .track
{
	height: 64px;
	
	padding-top: 4px;
	padding-bottom: 4px;
	
	border-bottom-width: 2px;
	border-bottom-color: #000;
	border-bottom-style: solid;
	
	background-color: rgba(53, 155, 222, 0.25);
}

#timeline > .track > .viditbit
{
	height: inherit;
	position: absolute;
	
	border-radius: 4px;
	
	background-color: pink;
	background-size: auto 64px;
}

/* The Videoplayer */

#videoplayer
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 102px;
	width: 640px;
	height: 360px;
	margin: auto;
	position: absolute;
	
	overflow: hidden;
	border-radius: 4px;
	
	background-color: #000;
}

#videoplayer > video
{
	width: 100%;
	height: 100%;
}

#videoplayer > #control_panel
{
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 48px;
	position: absolute;
}

#videoplayer > #control_panel
{
	opacity: 0;
	transition: opacity 0.3s ease;
}

#videoplayer:hover > #control_panel
{
	opacity: 1;
}

#videoplayer > #control_panel > #timeliner,
#videoplayer > #control_panel > #play_button,
#videoplayer > #control_panel > #fullscreen_button
{
	opacity: 0.8;
	border-radius: 4px;
	background-color: RGB(40, 40, 40);
}

#videoplayer > #control_panel > #play_button:hover,
#videoplayer > #control_panel > #fullscreen_button:hover
{
	cursor: pointer;
	background-color: #FF2300;
}

#videoplayer > #control_panel > #play_button
{
	top: 8px;
	left: 8px;
	width: 48px;
	height: 32px;
	
	position: absolute;
	
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: URL("images/icons/pause.png");
}

#videoplayer > #control_panel > #play_button.toggled
{
	background-image: URL("images/icons/play.png");
}

#videoplayer > #control_panel > #fullscreen_button
{
	top: 8px;
	right: 8px;
	width: 48px;
	height: 32px;
	
	position:absolute;
	
	background-size: 19px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: URL("images/icons/fullscreen.png");
}

#videoplayer > #control_panel > #fullscreen_button.toggled
{
	background-size: 24px;
	background-image: URL("images/icons/close.png");
}

#videoplayer > #control_panel > #timeliner
{
	top: 8px;
	left: 64px;
	right: 64px;
	height: 16px;
	padding: 8px;
	
	position: absolute;
}

#videoplayer > #control_panel > #timeliner > #container_container
{
	padding: 1px;
	
	height: 12px;
	
	border-width: 1px;
	border-style: solid;
	border-color: RGBA(200, 200, 200, 0.8);
}

#videoplayer > #control_panel > #timeliner > #container_container > #container
{
	cursor: pointer;
	height: inherit;
	position: relative;
}

#videoplayer > #control_panel > #timeliner > #container_container > #container > #playback_bar
{
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: inherit;
	opacity: 0.8;
	position: absolute;
	background-color: #FF2300;
}

/* The Filebrowser */

#filebrowser
{
	padding: 8px;
}

.assetfile
{
	width: 128px;
	height: 96px;
	
	float: left;
	margin-right: 8px;
	
	border-radius: 4px;
	
	background-color: pink;
	background-size: auto 128px;
}